.modern.sky-blue{
     color: $black;
     &::after{
          background: #00aef0;
          background: linear-gradient(-45deg,#93e0ff,$white);
     }
     .footer, .main-container .rooms, .navbar, .setting .buttons.left, .chat-info, .chat-form{
          background: #005678;
          color: $white;
          box-shadow: 0 0 10px #00567880;
     }
     .pfpbox .status, .main-container .rooms .pfpbox .status, .setting .profileSection .profile .img .status, .userInfoModal .userInfo .pfpbox .status{
          border-radius: 50%;
          background: #ccc;
          border: 2px solid #005678;
          &.active{
               background: $green;
               border: 2px solid #005678;
          }
          &.away{
               background: $yellow;
               border: 2px solid #005678;
          }
     }
     .main-container{
          .rooms ul li a, .rooms.settings ul li{
               @include modern-link($white,#005678,#5dd1ff)
          }
     }
     .contextMenu{
          background: $gray3;
          box-shadow: 0 0 5px 0 #00567880;
          ul li{
               color: #005678;
               &:hover,&:focus{
                    background: #005678;
                    color:$white;
               }
               &.red{
                    color: $darkRed;
                    &:hover,&:focus{
                         background: $darkRed;
                         color:$white;
                    }
               }
          }
     }
     .welcome a{
          @include modern-outline-button($darkBlue,$white);
     }
     .authbtn{
          @include modern-outline-button(#00aef0,$darkBlue);
     }
     .options{
          background: #005678;
          .statusBar button{
               @include modern-button($darkBlue,$white,#005678);
               border-radius: 0;
               &:first-child{border-radius: 10px 0 0 10px;}
               &:last-child{border-radius: 0 10px 10px 0;}
          }
          .links li a{
               @include modern-outline-button($white,$darkBlue);
          }
     }
     .setting{
          h2{border-bottom: 2px solid $dark;}
          .btn{
               @include modern-outline-button($darkBlue,$white);
          }
          .frmGroup{
               input:not(input[type=range]), textarea, select{
                    @include modern-textbox;
               }
               input[type=range]{
                    accent-color: #0078a8;
               }
          }
          .linkList{
               color: $black;
               background: #effaff;
               box-shadow: 0 0 8px #00567880;
          }
          .checkbox input:checked + div .toggle{
               background: #0078a8;
          }
     }
     .auth-container{
          .auth-form{
               box-shadow: 0 2px 10px #00567880;
               background: #effaff;
               .header .back{
                    @include modern-outline-button($darkBlue,$white);
                    font-size: 32px;
                    padding: 0.125em;
                    border-radius: 50%;
               }
               input{@include modern-textbox;}
               .buttons button{
                    @include modern-button($darkBlue,$white,#005678);
               }
               .oauth button{
                    @include modern-outline-button($darkBlue,$white);
               }
          }
          &.pfp-form{
               background: #00aef0;
               background: linear-gradient(-45deg,#93e0ff,$white);
          }
     }
     .chatbox .chat-tile{
          img{
               box-shadow: 0 0 5px 1px #00567880;
          }
          &.left{
               .chat-content{
                    background: #0089c0;
                    .downloadable{
                         color:$white;
                         &:hover{color: #c9f0ff;}
                    }
               }
          }
     }
     .chat-form{
          textarea{@include modern-textbox;}
          button{
               background: $darkBlue;
               font-size: 32px;
               border-radius: 10px;
               padding: 0.5em;
               border: 0;
               color: $white;
               &:hover,&:focus{background: #005678;}
          }
     }
     .rules-container .rule-main{border-bottom: 2px solid $black;}
     .userInfo{
          background: #c9f0ff;
          color: $darkBlue;
          .title{
               border-bottom: 2px solid $darkBlue;
          }
          a{
               @include modern-outline-button($darkBlue,$white)
          }
     }
}