.rules-container{
     margin-top: 80.5px;
     padding: 10px;
     h2{
          margin: 5px 0;
          font-weight: 550;
     }
     .rule-main{
          text-align: center; 
          margin: 0;
          h2{
               margin: 0;
               font-size: 40px;
          }
          padding-bottom: 5px;
     }
}