$blue: #0090ff;
$blue2: #65bcff;
$darkBlue: #002a4f;
$green: #22b455;
$green2: #22a14f;
$lightGreen: #b4ffce;
$darkGreen: #204829;
$red: #ff4c5e;
$red2: #dc3545;
$darkRed: #a71d2a;
$yellow: #e9bd0c;
$teal: #1dd1a1;
$white: #fafafa;
$transpWhite1: #fafafa4d;
$white2: #fafafaee;
$gray: #aaa;
$gray2: #aaaaaaee;
$gray3: #ddd;
$gray4: #7f7f7f;
$black: #222;
$black2: #222222CC;
$transpBlack1: #22222266;
$transpBlack2: #2222224d;
$dark: #353b48;
$dark2: #4e586b;